/*Szablon stron (górne menu)*/
.desktop-header {
  position: relative;
}

body {
    background-color: #F9F9F9;
    margin: 0;
    padding: 0;
    min-width: 550px;
}

.content {
  margin: 0 5px 0 5px;
}

.header-logo {
    height: 72px;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-right: 17px;
    margin-left: 17px;
}

.container-wide {
    background: linear-gradient(90deg,#043865 25%,#052f52 25%, #052f52 75%,#043865 75%);
    height: 110px;
    overflow: auto;
    overflow-x: hidden;
}

.container-logo-pg {
    width: 25%;
    height: 100%;
    text-align: right;
    float: left;
}

.container-logo-project {
    width: 25%;
    height: 100%;
    text-align: left;
    float: right;
}

.container-component {
    width: 50%;
    height: 100%;
    float: left; 
}

.container-component-upper {
    background: #072138;   
    width: 100%;
    height: 30%;
    float: left; 
}

.container-component-lower { 
    width: 100%;
    height: 70%;
    float: left;  
    align-items: center;
}


/* wygląd głównego elementu - nav */
.topnav {
  width: 50%;
  list-style-type: none;
  padding: 0;
  margin: 0px;
  background-color: #052f52;
  font-size: 32px;
  font-family: Arial,"Helvetica Neue",Roboto,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  height: 77px;
  line-height: 77px;
  text-align: center;
  float: left;
  display: block;
  position: absolute;
}

/* wygląd wszystkich elementów - a - znajdujących się w elemencie - nav */
.topnav a {
  display:block;
  text-decoration:none;
  color: #e4f1fe;
  padding:0px 15px;
  height: 77px;
  
}

/* wygląd elementów - li - wszystkich dzieci elementu - nav */
.topnav > li {
  float:left;
  width:auto;
  height:100%;
  background-color:#052f52;
}

/* wygląd elementu - li - pierwszego dziecka elementu - nav */
.topnav > li:first-child {
  margin-left: 15px;
}

/* wygląd elementów - li - wszystkich dzieci elementu - nav - po najechaniu kursorem myszki na element - li */
.topnav > li:hover {
  background-color:#EEE;
}

/* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - nav - po najechaniu kursorem myszki na element - li */
.topnav > li:hover > a {
  color:#09C;
}

/* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - nav - po najechaniu kursorem myszki na element - li */
.topnav > li:hover > ul {
  display:block;
}

.topnav > li > ul {
  display:none;
  list-style-type:none;
  padding:0;
  margin:0;
}

/* wygląd elementu - li - w części rozwijanej */
.topnav > li > ul > li {
  position:relative;
  background-color:#043865;
  font-size: 20px;
  height: 60px;
  margin: 0 ;
}

/* wygląd elementu - a - w części rozwijanej */
.topnav > li > ul > li > a {
  border-top:1px solid #043865;
  height: 60px;
  line-height: 60px;
  padding:0 10px;
}

/* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
.topnav > li > ul > li:hover {
  background-color:#043865;
}

/* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
.topnav > li > ul > li:hover > a {
  color:#09C;
}

.topnav .icon {
  display: none;
}


/*Wykład - główny ekran*/
.wyklad-title {
  font-size: 50px;
  font-family: Arial,"Helvetica Neue",Roboto,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  text-align: center;
  display: block;
  margin: 35px auto;
  color:#052f52;
}

.slide-arrow {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #043865 5%, #415989 100%);
	background-color:#043865;
	border-radius:42px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 30px;
	padding:6px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.slide-arrow:hover {
	background:linear-gradient(to bottom, #415989 5%, #043865 100%);
	background-color:#415989;
}

.slide-arrow-left {
  margin-right: 15px;
  float: left;
}

.slide-arrow-right {
  margin-left: 15px;
  float: right;
}

.no-select::selection, .no-select *::selection {
  background-color: Transparent;
}

.no-select { 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wyklad-pokaz-slajdow {
  max-width: 1150px;
  height: auto;
  margin: 30px auto; 
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.wyklad-pokaz-slajdow>div {
  flex: 1 1 69%;
}

.wyklad-pokaz-slajdow>div:last-child {
  flex: 0 1 auto;
}

.slajd {
  max-width: 100%;
  display: none;
}


/*Wykład - wyświetlanie wszystkich slajdów w galerii*/
.all-slajds {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.7);
  z-index: 10;
  display: inline-flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}

.all-slajds img {
  margin: 10px;
  width: 450px;
  display: table-cell;
}


/*Wykład - przycisk otworzenie PDF*/
.slide-pdf {  
  align-self: center ;
  margin: 15px auto;
}

.slide-pdf-text:link {
  font-size: 25px;
  font-family: Arial,"Helvetica Neue",Roboto,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color:#e4f1fe;
  text-decoration: none;
}

.slide-pdf-text:visited {
  color:#e4f1fe;
  text-decoration: none;
}


/*Szablony - wygląd*/
.szablon {
  font-size: 24px;
  margin-bottom: 8px;
}